
:root {
  --header-color: #171d25;
  --body-color: #1b2838;
  --background-active-start-color: #277b1c;
  --background-active-end-color: #126e0f;
  --background-field-color: #388231;
  --button-color-hover: #71ee66;
  --button-color: #295227;

  --sider-link-color: #7b9d7a;
  --sider-title-color: #3c7c36;

  --text-color: #dcdedf;
  --selected-text-color: #1fb827;

  --background-black: #000000;
  --background-footer: #171a21;

  --background-card-color: #162216;

  --second-body-background: #162131;

  --search-background-color: #3d4450;
  --search-background-color-hover: #dcdedf;
  --search-text-color-hover: #0d0d0e;

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Anonymous Pro', monospace;
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
